# based on https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

newsic/__pycache__/
newsic/config.py
newsic/.env
cache
newsic/cache

.vscode

node_modules
package-lock.json