class general():

	# YouTube API configuration (you can request a token at https://console.developers.google.com/apis/api/youtube/)
	YOUTUBE_API_KEY = ""

	# Vimeo API configuration (get your tokens at https://developer.vimeo.com/apps)
	VIMEO_TOKEN = ""
	VIMEO_KEY = ""
	VIMEO_SECRET = ""

	# snippet length in seconds (default: 30)
	SNIPPETLENGTH = 30

class local():

	# Flask debug
	DEBUG = True

	# for more detailed, pure newsic-related, debug messages
	NEWSICDEBUG = True

class server():

	DEBUG = False
	NEWSICDEBUG = False
