/* Autocomplete */

#autocomplete {
    flex-grow: 0.80;
    display: flex;
    align-items: center;
    background:#fff;
    opacity: $opacity_start;
    transition: opacity $transition_speed ease;
    box-shadow: $shadow_input;

    // TODO: decrease for smaller width
    // TODO: sync with text-indent of input element
    padding-right: 1vw;

    &:hover, &:focus-within {
        opacity: $opacity_end;
    }

    input {
        color: #000;
        box-shadow: unset;

        // TODO: 0.92 works for desktop, needs to be decreased for smaller widths
        flex-grow: 0.95;
        opacity: $opacity_start;
    }

    .flash {
        flex-grow: 0.05;
        text-align: right;
        color: #3d3d3d;
    }
}

#autocomplete-result {
    align-self: flex-start;
    position: absolute;
    background: rgba(#e6e6e6, 0.85);
    box-shadow: 0px 20px 61px -3px rgba(#000, 0.6);
    padding: 0;
    z-index: 1000;

    a {
        padding: 2% 3% 2% 3%;
        display: flex;
        align-items: center;
        color: #7a7a7a;
        background: #fff;
        transition: opacity $transition_speed ease;
        opacity: $opacity_start;
        justify-content: space-between;

        &:hover, &:focus, &.selected {
            cursor: pointer;
            opacity: $opacity_end;
            text-decoration: none;
        }

        .sub {
            font-weight: 400;
            font-size: 0.9em;
        }

        img {
            max-width: 15%;
        }
    }

    span.noresults {
        padding: 2% 3% 2% 3%;
        color: #7a7a7a;
        background: #fff;
        display: flex;
    }
}

/* Animations */

.flash {
    animation-name: flash;
    animation-duration: 4s; 
    animation-fill-mode: both; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
}

@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
}

form {
    .flash {
        visibility: hidden;
    }
}