<!DOCTYPE html>
<!--

	                         _
	                        (_)
	 _ __   _____      _____ _  ___
	| '_ \ / _ \ \ /\ / / __| |/ __|
	| | | |  __/\ V  V /\__ \ | (__
	|_| |_|\___| \_/\_/ |___/_|\___|

	=================================

    Howdy, dear source code reader!

    * Project page: https://newsic.tocsin.de
    * Demo: https://trynewsic.tocsin.de
    * newsic on GitHub: https://github.com/newsic

    * Author: Stephan Fischer (https://stephan-fischer.de, https://tocsin.de)


-->
<html lang="en">

<head>
  <title>{{ title }} - newsic</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" />
  {%- block css %}{%- endblock %}
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
  <!-- former font weights: 400 and 600 -->
  <!-- new font weights: 600 and 800 -->
  <!-- TODO: try 900 -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:600,800" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="newsic" />

  <!-- TODO: optimize description text -->
  <meta property="description" content="Explore music from YouTube and Vimeo snippet by snippet" />
  <meta property="og:description" content="Explore music from YouTube and Vimeo snippet by snippet" />
  <meta property="og:url" content="{{ request.url }}" />
  <link rel="canonical" href="{{ request.url }}" />
  {%- block metatags %}{%- endblock %}
</head>

<body{% if bodyClass %} class="{{ bodyClass }}" {% endif %}>

  {%- block header %}
  <header>
    <a href="{{ url_for('index') }}" class="logo_short" title="Go to start page">
      <img src="{{ url_for('static', filename='img/logo_short.svg') }}" alt="Suddenly a wild newsic logo appears. Hey look, it's a SVG!"
        title="Suddenly a wild newsic logo appears. Hey look, it's a SVG!" />
    </a>

    <form method="post" action="{{ url_for('index') }}">
      <div id="autocomplete">
        <input type="text" name="url" autocomplete="off" placeholder="Start typing or paste a playlist URL" />
        <i class="flash fa fa-refresh"></i>
      </div>

      <ul id="autocomplete-result"></ul>

      <button type="submit">start</button>
    </form>
  </header>
  {%- endblock %}

  {%- block body %}{%- endblock %}

  {%- block footer %}
  <footer>
    <a href="https://tocsin.de" target="_blank" title="Visit tocsin.de, the portfolio of the newsic creator">
      <span>Made with <i class="fa fa-heart"></i> by tocsin</span>
    </a>
    <a href="https://github.com/newsic" target="_blank" title="Feel free to fork or review the Code on GitHub">
      <span>Source code on GitHub</span>
    </a>
  </footer>
  {%- endblock %}
  {% if runtime %}<!-- runtime: {{ runtime }} -->{%- endif %}
  </body>

</html>