{% extends "base.html" %}
{% block header %}{% endblock %}
{% block body %}
	<div class="logo_big shadow">
		<div>
			<img src="{{ url_for('static', filename='img/logo_full.svg') }}" alt="Suddenly a wild newsic logo appears. Hey look, it's a SVG!" title="Suddenly a wild newsic logo appears. Hey look, it's a SVG!"  />
		</div>
	</div>

	{% if error %}
	<p class="error">{{ error }}</p>
	{% endif %}

	<div class="box">
		<form method="post" class="shadow" action="/">
			<div class="input-url">
				<input type="text" name="url" autofocus placeholder="YouTube playlist or Vimeo album/channel">
			</div>

			<div class="input-submit">
				<button type="submit">start</button>
			</div>

		</form>
	</div>

	<p class="tac">Explore and enjoy YouTube playlists and Vimeo albums/channels (alpha) snippet by snippet.</p>

	<div class="featured">

		<div class="main">
			<h2>Featured playlists</h2>
			Try newsic and discover new music with these hand-selected sample playlists.
			<p>Find more newsic playlists on <a href="https://www.youtube.com/channel/UCdBsONwgMEaRqqJ_KTE1HqQ/playlists" target="_blank">YouTube</a> and on <a href="https://vimeo.com/newsic/albums" target="_blank">Vimeo</a>.</p>
		</div>

		<a href="/play/youtube/PLdduFHK2eLvc5sRRywmwrcoMoLZP_yNeq" title="Go to San Fermin playlist">
			<div>
				<img src="https://i.ytimg.com/vi/LLQODwM--r4/mqdefault.jpg" alt="San Fermin" title="San Fermin" />
				<p><strong>San Fermin</strong></p><span>5 videos</span>
			</div>
		</a>

		<a href="/play/youtube/PLdduFHK2eLvcXPZriQd5pHJvph4aLIO2z" title="Go to OK Go playlist">
			<div>
				<img src="https://i.ytimg.com/vi/Wm63LibDiFk/mqdefault.jpg" alt="OK Go" title="OK Go" />
				<p><strong>OK Go</strong></p><span>6 videos</span>
			</div>
		</a>

		<a href="/play/youtube/PLdduFHK2eLvdBeruhTkW9jd6poJZ5Z1Iv" title="Go to STRFKR playlist">
			<div>
				<img src="https://i.ytimg.com/vi/P5V8X4B9voA/mqdefault.jpg" alt="STRFKR" title="STRFKR" />
				<p><strong>STRFKR</strong></p><span>4 videos</span>
			</div>
		</a>

		<a href="/play/youtube/PLdduFHK2eLvfTLaHCxPsIOjEsb8sfDIkl" title="Go to RDGLDGRN playlist">
			<div>
				<img src="https://i.ytimg.com/vi/8bszvAgSwWQ/mqdefault.jpg" alt="RDGLDGRN" title="RDGLDGRN" />
				<p><strong>RDGLDGRN</strong></p><span>4 videos</span>
			</div>
		</a>

		<a href="/play/youtube/PLdduFHK2eLvfhu9pM5V6py8u76sSHXAkG" title="Go to Blood Red Shoes playlist">
			<div>
				<img src="https://i.ytimg.com/vi/g-yxwXIrQ-E/mqdefault.jpg" alt="Blood Red Shoes" title="Blood Red Shoes" />
				<p><strong>Blood Red Shoes</strong></p><span>7 videos</span>
			</div>
		</a>

		<a href="/play/youtube/PLdduFHK2eLvdqCo4GGHb2P842hbfletxK" title="Go to [Mix] Hodgepodge I playlist">
			<div>
				<img src="https://i.ytimg.com/vi/oHzc_DLHztA/mqdefault.jpg" alt="[Mix] Hodgepodge I" title="[Mix] Hodgepodge I" />
				<p><strong>[Mix] Hodgepodge I</strong></p><span>34 videos</span>
			</div>
		</a>

		<a href="/play/vimeo/album/3951181" title="Go to Campusradio Dresden album">
			<div>
				<img src="https://i.vimeocdn.com/video/510983747_295x166.jpg" alt="Campusradio Dresden" title="Campusradio Dresden" />
				<p><strong>Campusradio Dresden</strong> <i class="fr warning fa fa-exclamation-circle" title="Attention: The Vimeo support is still in alpha status."></i></p><span>3 videos</span>
			</div>
		</a>

	</div>

{% endblock %}
