{% extends "base.html" %}

{% block css %}
  <!-- TODO: remove, deprecated soon -->
  <!-- Plyr 2 -->
  <!-- <link href="{{ url_for('static', filename='css/plyr/plyr.css') }}" rel="stylesheet" type="text/css" /> -->
  
  <!-- Plyr 3 -->
  <link href="{{ url_for('static', filename='css/plyr/3/plyr.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block metatags %}
  <!-- TODO: add playlist creator and title -->
  <!-- TODO: og:type content="music.playlist" -->
  <meta name="twitter:card" content="summary_large_image" />
  {% if videolist[0][1] == "youtube" %}
  <!-- YouTube -->
  <meta property="og:image" content="https://img.youtube.com/vi/{{ videolist[0][0] }}/mqdefault.jpg" />
  <meta property="og:image:width" content="320" />
  <meta property="og:image:height" content="180" />
  {% endif %}

  {% if videolist[0][1] == "vimeo" %}  
  <!-- Vimeo -->
  <meta property="og:image" content="https://i.vimeocdn.com/video/{{ videolist[0][6] }}_295x166.jpg" />
  <meta property="og:image:width" content="295" />
  <meta property="og:image:height" content="166" />
  {% endif %}

  <meta property="og:title" content="{{ playlistTitle }} - newsic" />
{% endblock %}

{{ videolist[0][3] }} - {{ playlistTitle }}

{% block body %}

  {% if message == "vimeo-beta" %}  
  <!-- Vimeo -->
  <div class="message">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ _('Vimeo support is still beta, sorry. <!-- <br/>Please <a href="https://github.com/newsic/newsic/issues" target="_blank" title="Report bugs about the Vimeo support via GitHub">feel free to take a look at the bug</a> :) -->') }}
  </div>
  {% endif %}

  {% if message == "custom-vimeo-beta" %}  
  <!-- Vimeo -->
  <div class="message">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ _('Vimeo support is still beta, sorry. The order of videos isn\'t correct yet, this is caused by the Vimeo API.') }}
  </div>
  {% endif %}
  <div class="message error fade-in-and-out"></div>

  <!-- Plyr -->
	<video class="plyr" crossorigin>
		<noscript>
			{{ _('Either your browser is a disastrous piece of old crap or you should stop blocking JavaScript.
			We kindly ask you to make a decision: Either activate JavaScript (or whitelist newsic on your content blocker) or install/use a fresh version of Firefox, Chromium/Chrome, Safari, Vivaldi, Opera or something else instead.
			PSA: Using Edge isn\'t as cutting-edge as it sounds; but hey, that\'s entirely up to you :)') }}
		</noscript>
	</video>

	<!-- info box (contains current snippet title, playlist name and our precious countdown) -->
	<div class="snippetinfo">
		<div class="border">

			<h1 id="title">{{ videolist[0][2] }}</h1>

			<div class="countdown-shadow">
				<div class="countdown"></div>
			</div>

			<div class="controlbar">
				<button class="playPrevious" title="{{ _('Previous snippet (shortcuts: A or left arrow key)') }}">
          <i class="fas fa-backward"></i>
        </button>
        <button class="playPause" title="{{ _('Play/pause (shortcuts: S, K or space bar)') }}">
          <i class="fas fa-play"></i>
        </button>
				<button class="playNext" title="{{ _('Next snippet (shortcuts: D or right arrow key)') }}">
            <i class="fas fa-forward"></i>
        </button>

				<div class="right">
					<button class="playComplete" title="{{ _('Play complete song (shortcut: C)') }}">
						<i class="fas fa-plus-square"></i> {{ _('Complete') }}
          </button>
					<a class="playMix" title="{{ _('Play mix based on current video (shortcut: X)') }}">
						<button><i class="fas fa-random"></i> {{ _('Mix') }}</button>
          </a>
					<a class="searchLyrics" target="_blank" title="{{ _('Search lyrics on Genius.com (shortcut: L)') }}">
						<button><i class="fas fa-file-alt"></i> {{ _('Lyrics') }}</button>
					</a>
				</div>
			</div>

		</div>
	</div>

  <!-- snippets overview -->
	<div id="snippets" data-playlisttitle="{{ playlistTitle }}" data-playlistcreator="{{ playlistCreator }}">

    <div class="main">
      <h2>{{ playlistTitle }}</h2>
      <!-- This playlist is curated by {{ playlistCreator }}. It contains {{ playlistVideoAmount }} snippets. -->

      <ul>
        <li>Playlist by {{ playlistCreator }}</li>
        <li>{{ playlistVideoAmount }} snippets</li>
      </ul>
    </div>

    {%- for key in videolist %}
    <a href="#{{ loop.index0 }}" data-type="{{ key[1] }}" data-id="{{ key[0] }}" data-length="{{ key[5] }}" data-start="{{ key[3] }}" data-end="{{ key[4] }}" title="{{ gettext('Go directly to %(link)s', link=key[2]) }}" itemscope itemtype="http://schema.org/VideoObject">
      
      {% if key[1] == "youtube" %}
      <img class="lazy" src="{{ url_for('static', filename='img/loading.svg') }}" data-src="https://img.youtube.com/vi/{{ key[0] }}/mqdefault.jpg" alt="{{ key[2] }}" title="{{ key[2] }}" itemprop="thumbnailUrl" />
      {% endif %}

      {% if key[1] == "vimeo" %}
      <img class="lazy" src="{{ url_for('static', filename='img/loading.svg') }}" data-src="https://i.vimeocdn.com/video/{{ key[6] }}_295x166.jpg" alt="{{ key[2] }}" title="{{ key[2] }}" itemprop="thumbnailUrl" />
      {% endif %}
      <p>
        <span class="name" itemprop="name">{{ key[2] }}</span>

      {% if key[1] == "youtube" %}
      <!-- TODO: translate -->
      {%- for country in key[6] -%}
				{% if loop.first %}<i class="blocked warning fas fa-exclamation-triangle" title="blocked in {% endif %}{{ country }}{% if loop.last %}" data-blocked="{{ key[6] }}"></i>{% else %}, {% endif %}
			{%- endfor %}

      <!-- TODO: translate -->
      {%- for country in key[7] -%}
				{% if loop.first %}<i class="allowed warning fas fa-exclamation-triangle" title="only allowed in {% endif %}{{ country }}{% if loop.last %}" data-allowed="{{ key[7] }}"></i>{% else %}, {% endif %}
      {%- endfor %}
      {% endif %}
      </p>
		</a>
		{% endfor %}
  </div>
  
  <script>
    var i18n_videohandler_nextsnippet = "{{ _('Next snippet') }}";
    var i18n_videohandler_play = "{{_ ('Play') }}";
    var i18n_videohandler_pause = "{{_ ('Pause') }}";
    var i18n_videohandler_previoussnippet = "{{_ ('Previous snippet') }}";
    var i18n_videohandler_togglemute = "{{_ ('Toggle mute') }}";
    var i18n_videohandler_volume = "{{_ ('Volume') }}";
    var i18n_videohandler_buffered = "{{_ ('buffered') }}";
    var i18n_videohandler_seek = "{{_ ('Seek') }}";
    var i18n_videohandler_completesnippet = "{{_ ('Complete snippet') }}";
    var i18n_videohandler_mix = "{{_ ('Mix') }}";
    var i18n_videohandler_lyrics = "{{_ ('Lyrics') }}";
    var i18n_videohandler_togglefullscreen = "{{_ ('Toggle fullscreen') }}";
    var i18n_videohandler_embeddingforbidden = "{{_ ('Embedding forbidden or blocked in your country') }}";
    var i18n_videohandler_blocked = "{{_ ('Sorry, not available in your country') }}";
    var i18n_videohandler_skipped = "{{_ ('Video skipped') }}";

    var i18n_autocomplete_noresults = "{{ _('No results :(') }}";
    var i18n_autocomplete_videos = "{{ _('videos') }}";
  </script>

  <!-- JavaScript files -->
  

  <!-- TODO: remove, deprecated soon -->
  <!-- Plyr 2 -->
  <!-- <script src="{{ url_for('static', filename='js/plyr/plyr.js') }}"></script> -->

  <!-- Plyr 3 -->
  <script src="{{ url_for('static', filename='js/plyr/3/plyr.min.js') }}"></script>

  <script async src="{{ url_for('static', filename='js/videohandler.js') }}"></script>
  <script async src="{{ url_for('static', filename='js/autocomplete.min.js') }}"></script>
  <script async src="{{ url_for('static', filename='js/lazyload.min.js') }}"></script>
{% endblock %}