{% extends "base.html" %}

{% block css %}<link href="{{ url_for('static', filename='css/plyr.css') }}" rel="stylesheet" type="text/css" />{% endblock %}


{{ videolist[0][3] }}
{% block body %}

	<div id="info"></div>

	<!-- video border, wrapper (16:9 format) and the actual player -->
	<div class="videoBorder">
		<div class="videoWrapper">
  		<video class="plyr" crossorigin>
		    <noscript>
		      Either your browser is a disastrous piece of old crap or you should stop blocking JavaScript. We kindly ask you to make a decision: Activate JavaScript (or whitelist newsic on your favorite NoScript-like content blocker) or install/use Firefox, Chrome/Chromium, Safari, Opera or Vivaldi instead. PSA: Using Edge isn't cutting-edge, just saying.
		  	</noscript>
  		</video>
		</div>
	</div>

	<!-- info box (contains current snippet title, playlist name and our precious countdown) -->
	<div class="snippetinfo">
		<h1 id="title">Loading...</h1>

		<div class="lines">
			<div>
				<div id="countdown"></div>
				<span id="seconds">∞</span>
			</div>
		</div>
		<div class="fl">
			<span title="The name of the playlist newsic currently uses.">{{ playlistTitle }}</span>
			<span title="Thanks to this cool user you can listen to this playlist. High five-worthy, ain't it? Or wi-five-worthy. Anyway, kudos to {{ playlistCreator }}!">Playlist by {{ playlistCreator }}</span>
		</div>
		<div class="fr">
			<span title="You can figure that out by yourself, we guess ;)">{{ playlistVideoAmount }} snippet{% if playlistVideoAmount > 1 %}s{% endif %}</span>
			<span title="Entire amount of time you need if you would like to listen to all {{ playlistVideoAmount }} snippets.">{{ playlistLength }} min</span>
		</div>

	</div>

	<div class="controlbar shadow">
		<div id="playPrevious" title="Previous snippet (shortcut: a)"><button class="fa fa-backward"></button></div>
		<div id="playPause" title="Play/pause (shortcut: k or space bar)"><button class="fa fa-play"></button></div>
		<div id="playNext" title="Next snippet (shortcut: d)"><button class="fa fa-forward"></button></div>
		<div id="playComplete" title="Play whole song (shortcut: c)"><button>full song</button></div>
	</div>

	<!-- thumbnail overview -->
	<div id="snippets">
		{% for key in videolist %}
		<a href="#{{ loop.index0 }}" title="Go directly to {{ key[3] }}">
			<img src="https://i.ytimg.com/vi/{{ key[0] }}/mqdefault.jpg" alt="{{ key[3] }}" title="{{ key[3] }}">
			<br/>{{ key[3] }}

			{% for country in key[4] %}{% if loop.first %}<i class="warning fa fa-exclamation-circle" title="blocked in {% endif %}{{ country }}{% if loop.last %}"></i>{% else %}, {% endif %}{% endfor %}

			{% for country in key[5] %}{% if loop.first %}<i class="warning fa fa-exclamation-circle" title="only allowed in {% endif %}{{ country }}{% if loop.last %}"></i>{% else %}, {% endif %}{% endfor %}
		</a>{% endfor %}

	</div>

	<script>
		// array which contains every single video (with id, title, start + end time) provided by our Python script
		var snippets = [
			{% for key in videolist %}
			{
				type: "youtube",
				id: "{{key[0]}}",
				title: "{{key[3]}}",
				length: {{key[6]}},
				start: {{key[1]}},
				end: {{key[2]}},
				{% for country in key[4] %}{% if loop.first %}blocked: [{% endif %}"{{ country }}"{% if loop.last %}],{% else %}, {% endif %}{% endfor %}

				{% for country in key[5] %}{% if loop.first %}allowed: [{% endif %}"{{ country }}"{% if loop.last %}]{% else %}, {% endif %}{% endfor %}
			},
			{% endfor %}
		];
	</script>

	<!-- JavaScript files -->
	<script src="{{ url_for('static', filename='js/plyr.js') }}"></script>
	<script src="{{ url_for('static', filename='js/newsic.js') }}"></script>

{% endblock %}
